doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="author", content="Matt McKellar-Spence")
		meta(name="description", content="Example code with different libraries")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title
			block title
				| Web tricks

		mixin jquery
			script(src="/components/jquery/2/1/3/min.js", type="text/javascript")

		include ./_css.jade
		block styles

		block scripts
	body
		article.container
			block content
		footer.container
			hr
			ul
				li: a(href="/") Home
				li: a(href="http://about.mattms.info") Read about me
				li: a(href="https://github.com/MattMS/web_tricks") View on GitHub
